# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
__init__.py

# VS Code settings
.vscode/

# Checkpoints
checkpoints/

# Dataset
dataset/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
